#heroImage {
  background-image: url('../img/IMG_20190531_142739.jpg');
  display: inline-block;
  min-width: 100%;
  min-height: 80vh;
  background-position: left center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

#heroImage::after {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgb(59,105,120);
  background: linear-gradient(0deg, rgba(59,105,120,1) 0%, rgba(0,212,255,0) 100%);
  z-index: 0;
}

.hero-content {
  position: absolute;
  bottom: 0;
  color: white;
  z-index: 1;
  padding: 25px;
}

@media (min-width: 1200px) {
  #heroImage {
    background-position: center;
  }
  #heroImage::after {
    background: linear-gradient(256deg, rgba(59,105,120,1) 0%, rgba(0,212,255,0) 80%);
  }
  .hero-content {
    right: 15%;
    top: 50%;
    max-width: 500px;
    margin-top: -125px;
    height: 250px;
  }
}
